html, body {
margin: 0;
padding: 0;
}

body {
font-family: 'Roboto', sans-serif;
font-weight: 100;
}

nav { 
background: rgb(0, 0, 0);
height: 80px; 
width: 100%;
}
#mainHeading{
    margin-left: 25px;
}
#paraHeading{
    margin-left: 25px;
}

nav ul {
height: 80px;
list-style: none;
margin: 0 auto; 
padding: 0;
}

nav ul li {
color: #fff;
display: inline-block; 
height: 80px;
line-height: 80px; 
list-style: none;
padding: 0 10px;
transition: background .5s; 
}
main{
    margin: 0 25px 0 25px;
}
#search{
    border: 1px solid grey;
    border-radius: 10px;
    width: 300px;
    height: 35px;
}
h3{
    padding: 10px;
}
h3:hover{
    border-bottom: 2px solid grey;
    width: 200px;
}
nav ul li a{
    color: #fff;
    display: inline-block; 
    height: 80px;
    line-height: 80px;
    text-decoration: none; 
    list-style: none;
    padding: 0 10px;
    transition: background .5s; 
}
nav ul li a:hover{
    color: gold;
}
#firstTable{
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.ft-div-one{
    
    height: 300px;
    position: absolute;
    padding: 10px;
    border: 1px solid gray;
    width: 22%;
    
}
.ft-div-two{
    border: 1px solid gray;
    height: 300px;
    padding: 10px;
    float: right;
    position: relative;
    width: 46%;
}
.firstPics{
    height: 300px;
    margin: auto;
    width: 100%;
}
.ft-doc-head{
    width: 90%;
    clear:both; 
    margin: auto;
    position: absolute;
    height: 200px;
    
}
.ft-doc-foot{
    width: 90%;
    clear: both;
    position:absolute;
    margin-top: 200px;
    height: 100px;
    
}
.personPic{
    width: 90px;
    height: 90px;
    border: 1px solid grey;
    border-radius: 50%;
    margin: 5px auto auto 15px;
}
.iconPic{
    width: 70px;
    height: 70px;
    margin: 5px 15px 5px 50px;
}