*{
    padding: 0%;
    margin: 0%;
}
#container{
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(196, 236, 236);
}
h1, h3{
    text-align: center;
}
h3{
    font-style: italic;
}
table{
    width: 100%;
}

#pdfButton{
    height: 30px;
    width: 110px;
}
a{
    color: red;
}
